# --- Python Environment ---
backend/venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# --- Security & Secrets ---
# NEVER push API keys to GitHub
backend/.env
.env

# --- Data ---
# Raw PDF (large / copyright)
data/*.pdf

# --- Node ---
frontend/node_modules/
node_modules/
frontend/dist/

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log

# --- IDE ---
.vscode/
.idea/

# --- Vercel ---
.vercel
